/* CSS Document 

Colors:

Sky Grey - #D5E7F2
Far Tree Blue - #69A7BF
Cargo Green - #1E5959
Verdant Green - #9FA668
Cargo Salmon #D98989

Fonts:

font-family: 'EB Garamond', serif;
font-family: 'Martel', serif;
font-family: 'Mukta', sans-serif;

*/

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&family=Martel:wght@200;400;700&family=Mukta:wght@200;400;700&display=swap');

*, *:after {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #1E5959;
}

h1 {
    font-family: 'EB Garamond', serif;
}

h2 {
    font-family: 'EB Garamond', serif;
}

blockquote {
    font-family: 'Martel', serif;
}

table {
    font-family: 'Martel', serif;
}

nav {
	margin: 0.5em 0;
	display: block;
	background-color: #69A7BF;
	width: 100%;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	display: inline-block;
	font-size: 1.5em;
	font-family: 'Martel', serif;
	padding: 0.2em 2em;
}

nav ul li a:link {
	text-decoration: none;
}
nav ul li a:hover {
	text-decoration: none;
}
nav ul li a:active {
	text-decoration: none;
}
nav ul li a:visited {
	text-decoration: none;
}

#headerNav {
	margin: 0;
	position: fixed;
	display: block;
}

header {
	padding-top: 2.8em;
    background-image: url("../images/slsHeroImage.jpg");
}

header h1 {
    padding: 2em;
    background-color:#1E5959aa;
}

main {
	margin: 2em;
}

main img {
    margin: 1em;
}

p {
    font-family: 'Mukta', sans-serif;
}

footer {
	margin-top: 2em
}

footer p {
	text-align: center;
}

