/* CSS Document 

Colors:

Sky Grey - #D5E7F2
Far Tree Blue - #69A7BF
Cargo Green - #1E5959
Verdant Green - #9FA668
Very Adapted Verdant Green - #F0F1E4
Cargo Salmon - #D98989
Salmon Dark - #441616

Fonts:

font-family: 'EB Garamond', serif;
font-family: 'Martel', serif;
font-family: 'Mukta', sans-serif;

*/

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&family=Martel:wght@200;400;700&family=Mukta:wght@200;400;700&display=swap');

*, *:after {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #1E5959;
}

h1 {
    font-family: 'EB Garamond', serif;
	font-size: 1.5em;
}

h2 {
    font-family: 'EB Garamond', serif;
	font-size: 2em;
}


blockquote {
    font-family: 'Martel', serif;
	color: #fff;
}

table {
    font-family: 'Martel', serif;
	border-color: #fff;
	color: #fff;
	border-style: double;
	border-width: 3px;
}

nav {
	margin: 0.5em 0;
	display: block;
	background-color: #69A7BF;
	width: 100%;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	display: inline-block;
	font-size: 1.6em;
	font-family: 'Martel', serif;
	padding: 0.2em 2em;
}

nav ul li a:link {
	text-decoration: none;
    color: #1E5959;
}
nav ul li a:hover {
	text-decoration: none;
    color: #fff;
}
nav ul li a:active {
	text-decoration: none;
}
nav ul li a:visited {
	text-decoration: none;
    color: #441616;
}

#headerNav {
	margin: 0;
	position: fixed;
	display: block;
}

header {
	padding-top: 2.9em;
    background-image: url("../images/slsHeroImage.jpg");
	min-height: 400px;
	background-size: cover;
}

header h1 {
    padding: 1.2em;
    background-color:#1E5959aa;
    color: #D5E7F2;
}

main {
	margin: 2em;
	min-height: 400px
}

main h2 {
	color: #F0F1E4;
}

main img {
    margin: 1em;
	max-width: 25%;
	max-height: 350px;
	float: right;
}

.leftFlt {
	float: left;
}

main ul, main ol {
	margin-left: 1em;
    font-family: 'Mukta', sans-serif;
	color: #fff;
	font-size: 2em;
}

p {
    font-family: 'Mukta', sans-serif;
	color: #fff;
	font-size: 1.8em;
}

.btn {
	border-radius: 3px;
}

footer {
	margin: 2em 0;
}

footer p {
	text-align: center;
	font-size: 1em;
}

